<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ZUES:ONLINE COMMUNITY</title>

  
  <link href="{% static 'tcs/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  
  <link href="{% static 'tcs/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'tcs/css/grayscale.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top" >ZEUS</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#ZeusAndGods">Genesis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#gods">The Gods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'register' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">ZEUS</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">brings the team together, wherever you are</h2>
        <a href="{% url 'register' %}" class="btn btn-primary js-scroll-trigger">Sign Up</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">BREAK OUT OF THE INBOX</h2>
          <p class="text-white-50">Productive teamwork happens in channels – organised spaces for everything related to a project, topic or team.
            <a href="">THE ZUES</a>. Teams of every size, shape and sort have already made ZUES  the place where their work happens.</p>
        </div>
      </div>
      <img src="{% static 'tcs/img/ipad.png' %}" class="img-fluid" alt="">
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{% static 'tcs/img/ip.jpg' %}" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>ABOUT OUR WORLD</h4>
            <p class="text-black-50 mb-0">ZEUS is a standard sprint oriented system which allows us to maintain a project oragaized 
              by <a href = "#lo">SPLITING</a>  the team and assigning <a href = "#lo">ROLES</a> to the members which allows the main admin to manage the project. It also 
              helps in execution of projects through setting up the deadlines. And live chats with the members for faster communication. </p>
          </div>
        </div>
      </div>

      <div id="ZeusAndGods" class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4> GENESIS</h4>
            <p class="text-black-50 mb-0">ZEUS started as a SOFTWARE PROJECT in 2020, by a group of five CS undergraduate students. The intention of the project was simple
              to provide a platform for professional people to handle the project and ease of organization of team. The devolopers was known as "THE GODS" later on.
            </p>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{% static 'tcs/img/ipa.png' %}" alt="">
        </div>
      </div>
      <br>
      <div id="gods" class="featured-text text-center text-lg-left">
        <h1>THE GODS</h1>
      </div>

      

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'tcs/img/vinay.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">VINAY SANKAR R</h4>
                <p class="mb-0 text-white-50">UI DESIGNER, FRONT-END DEVLOPER,<br>
                  LANUGAGES KNOWN: JS, HTML, CSS, PYTHON, PHP, CPP
                </p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'tcs/img/demo-image-02.jpg' %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">VAISAKH K V</h4>
                <p class="mb-0 text-white-50">BACKEND DEVELOPER,<br>
                  LANUGAGES KNOWN - PYTHON, SQL, HTML, CSS, JAVA, JS, C, CPP, MATLAB</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Project Three-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'tcs/img/demo-image-01.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">SREYA S</h4>
                <p class="mb-0 text-white-50">BACKEND DEVELOPER,<br>
                  LANUGAGES KNOWN - PYTHON, SQL, HTML, CSS, JAVA, JS, C, CPP</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--project four-->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'tcs/img/demo-image-02.jpg' %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">VARUN RAJ</h4>
                <p class="mb-0 text-white-50">FRONT-END DEVLOPER,<br>
                  LANUGAGES KNOWN: JS,  HTML, CSS, PYTHON, PHP, CPP</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--project five-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'tcs/img/unnithan.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">ANANTHAKRISHNAN UNNITHAN</h4>
                <p class="mb-0 text-white-50">FRONT-END DEVLOPER,<br>
                  LANUGAGES KNOWN: JS, HTML, CSS, PYTHON, PHP, CPP</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">LOG IN</h2>
          <h2 class="text-white mb-5">ELSE <a href="#" >SIGNUP</a></h2>
          

          <form class="form-inline d-flex" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="username" placeholder="Enter username..."><br>
            <input type="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="password" placeholder="Enter Password...">
            <button type="submit" class="btn btn-primary mx-auto">LOG IN</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Amrita Vishwavidyapeetham, Kollam</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">zeushubsolutions@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+91 9977553311</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; TEAM ZEUS
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'tcs/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'tcs/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'tcs/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'tcs/js/grayscale.min.js' %}"></script>

</body>

</html>
