<html>
<head>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<style>div{margin: 25px;}</style>
</head>
<body>
<h2>Team</h2>
<h3>{{team.teamName}}</h3>
<h4>Team Leader - {{team.teamLeader}}</h4>
<h4>directory Link-{{team.directoryLink}}</h4>
<h4>created date-{{team.created_date}}</h4>

</body>
</html>